//colors
$color-primary: #ff5899;
$color-primary-light: #ffcce6;
$color-primary-dark: #cc0066;
$color-grey-dark: #484848;
$color-white: #ffffff;
$color-black: #000000;

//grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;