//colors
$color-primary: #ff5899;
$color-primary-light: #ffcce6;
$color-primary-dark: #cc0066;
$color-grey-dark: #484848;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-secondary-light: #ffdd99;
$color-secondary-dark: #ffcc00;

$color-tertiary-light: #99ffff;
$color-tertiary-dark: #00cccc;

//grid

$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;

//font-sizes

$default-font-size: 1.6rem;